<div class="container">
  <div class="main mt-3">
    <h1>My To Do List</h1>
    <h2>What would you like to do today?</h2>
    <form class="row g-3" (ngSubmit)="submit()">
      <div class="col-auto">
        <input
          type="text"
          placeholder="Please enter the task"
          class="form-control"
          style="width: 300px"
          name="task"
          [(ngModel)]="task"
          #input="ngModel"
          required
        />
      </div>

      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-primary mb-3"
          [disabled]="!input.valid"
        >
          Enter
        </button>
      </div>
    </form>
    <button class="btn btn-danger mb-3" style="" (click)="deleteAll()">
      Clear All
    </button>
  </div>
  <div *ngIf="todos.length !== 0" class="container">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Todo Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ todo
            }}<button
              class="btn btn-danger"
              style="float: right"
              (click)="delete(i)"
            >
              del
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
